node_modules
npm-debug.log
Dockerfile
docker-compose.yml
.git
.gitignore
.env
*.md
coverage
**/*.ts
!src/**/*.ts
!angular.json
!package*.json
!tsconfig*.json
!browserslistrc
!karma.conf.js
!tslint.json
!src/environments/environment*.ts
